#family_linker {
	margin-bottom:20px;
	clear:both;
	float:left;
	font-weight:normal;
	font-size:1.5em;
	font-family:'Helvetica', 'Arial', sans-serif
}

.linker {
	color:#00C;
	text-decoration:none;
	display:none;
}

.linker_selected {
	float:left;
	font-weight:bold;
	color:#000!important;
}

.linker_divider {
	color:#CCC;
	display:none;
}